/* Phone version aka Bootstrap small */
@media screen and (max-width: 767px) {
	/*body { background: red; }*/

	table.resp, table.resp thead, table.resp, table.resp tbody, table.resp th, table.resp td, table.resp tr {
		display: block;
	}

	.detail_wrapper {
		margin: 0;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	table.resp thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	table.resp tr {
		border: 0px solid #ccc;
		margin-bottom: 8px;
	}

	table.resp td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
	}

	table.resp td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
		font-weight: bold;
	}

	td.attempt, td.duration, td.status {
		text-align: left;
	}

	/* Read the column header FROM the the HTML attr */
	table.resp td:before { content: attr(column-name); }

	div.detailWrapper {
		width: inherit;
		padding: 10px;
	}

	div.detailcontainer {
		float: none;
		width: inherit;
		margin: auto;
	}

	div.rightContainer {
		float: none;
		width: inherit;
		margin: auto;
	}

	fieldset.servicedetails, fieldset.hostdetails, fieldset.attributes, fieldset.corecommands {
		float: none;
		width: inherit;
	}

	.resultFilter {
		width: 100%;
	}

	.no_mobile {
		display: none;
	}

}

/* Tablet view aka Bootstrap medium */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	/*body { background: yellow; }*/

	.detail_wrapper {
		margin: 0;
	}
}

/* Bootstrap large */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	/*body { background: lightgreen; }*/

	.detail_wrapper {
		margin: 0 4em;
	}
}
