/* Mobile interface */
@media screen and (max-width: 900px) {

	table.tac td, table.tac tr, table.tac th {
		display: block;
		width: 100%;
		padding: 0;
	}

	div.detailWrapper {
		width: inherit;
		padding: 10px;
	}

	div.detailcontainer {
		float: none;
		width: inherit;
		margin: auto;
	}

	div.rightContainer {
		float: none;
		width: inherit;
		margin: auto;
	}

	fieldset.servicedetails, fieldset.hostdetails, fieldset.attributes, fieldset.corecommands {
		float: none;
		width: inherit;
	}

	.no_mobile {
		display: none;
	}

}
